.create-box {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  background: white;
  padding: 14px 20px;
  background: #ffffff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
}

.create-todo {
  width: 100%;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #9495a5;
  caret-color: #3a7cfd;
}

.create-todo::placeholder {
  color: #9495a5;
}

.create-todo-container {
  position: relative;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: left;
  position: absolute;
  left: 0px;
  top: -20px;
}

.dark .create-box {
  background: #25273d;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

.dark .create-todo,
.dark .create-todo::placeholder {
  color: #767992;
}

@media only screen and (min-width: 1024px) {
  .create-box {
    gap: 24px;
    height: 64px;
    padding: 20px 24px;
  }
  .create-todo {
    font-size: 18px;
    line-height: 18px;
  }
}
